@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", system-ui;
  overflow-x: hidden;
}

.primary-btn {
  border-radius: 8px;
  background: #e55473;
  display: inline-flex;
  padding: 20px 43px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.common-header {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 110px;
  margin-bottom: 16px;
}

p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
}

header,
#hot-deal {
  background: rgba(229, 84, 115, 0.1);
}


.container {
  width: 75%;
  max-width: 1440px;
  margin: 0 auto;
}

.banner-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.banner-text {
  margin-top: 200px;
  width: 525px;
}

.banner-container .banner-text h1 {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 32px;
}
.banner-container .banner-text p {
  margin-bottom: 32px;
}

.banner-img img {
  margin-top: 50px;
  width: 100%;
  vertical-align: middle;
}

/* Featured section styles */

#featured-section {
  margin-bottom: 120px;
}

.flower-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.common-container p {
  width: 600px;
  text-align: center;
  margin: 0px auto 48px;
}

.flower-container .flower .ful {
  width: 300px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  padding: 20px 30px 0px;
  display: flex;
  align-items: end;
  }

.flower-container .flower .ful img {
  width: 100%;
}

.flower-container .flower h3 {
  color: #272727;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 32px;
}
.pink {
  background: rgba(167, 33, 98, 0.15);
}

.blue {
  background: rgba(5, 151, 160, 0.15);
}

.green {
  background: rgba(71, 125, 17, 0.15);
}

/* Delivery section styles starts here */

.delivery {
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  height: 320px;
  align-items: center;
  margin-bottom: 120px;
}

.delivery .each-delivery {
  text-align: center;
}

.delivery .each-delivery h3 {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; 
  margin-top: 24px;
}

/* Hot deal section starts here */

#hot-deal {
  margin-bottom: 120px;
}

.deal {
  display: flex;
  justify-content: space-around;
  padding: 75px;
  align-items: center;
}

.deal-detail {
  text-align: center;
}
.deal-title {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.off {
  color: #e55473;
}

.deal-detail p {
  width: 500px;
  margin-bottom: 32px;
}

/* insta section starts here */
#insta {
  margin-bottom: 120px;
}

.insta-img-container {
  display: flex;
  gap: 18px;
}
.insta-img-container div img {
  width: 100%;
}

/*newsletter section starts here*/

.newsletter-main {
  background-image: url("../images/bg.png");
  background-size: 100%;
  padding: 15px 0px;
   background-repeat: no-repeat;
  border-radius: 8px;
  margin-bottom: 120px;
}

.newsletter-main form {
  max-width: 650px;
  margin: 0px auto;
  display: flex;
  gap: 10px;
}

.newsletter-main form input {
  flex-grow: 1;
  border: none;
  padding: 15px 30px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
background: #FFF;
}

#footer{
  background: #111010;
}

.footer-container{
  text-align: center;
  padding: 40px auto;
height: 200px;
flex-shrink: 0;
}

.footer-container p{
  margin-left: 390px;
  color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
width: 600px;
line-height: 30px; 
}
.footer-header{
  color: #FFF;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.small-footer{
  color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.foot-collector{
  text-align: center;
  margin: 0px auto;
  padding: 200px;
}

.foot-collector *{
  margin-bottom: 24px;
}
.hide{
  display: none;
}

@media screen and (max-width:576px){
  .container{
    width: 90%;
  }
  /* .header{
    margin-bottom: 100px;
  } */
  .banner-container {
    flex-direction: column-reverse;
    gap: 10px;
    padding: 20px;
    /* margin-bottom: 600px; */
  }
  .banner-container .banner-text h1 {
    font-size: xx-large;
  }
  .banner-text {
    margin-top: 20px;
    width: 100%;
}
.banner-img img{
  margin-top: 5px;
}
.flower-container,.delivery{
  flex-direction: column;
}
.flower-container .flower .ful{
  padding: 0px;
  width: 100%;
  height: 550px;
}
#featured-section {
  margin-bottom: 60px;
}
#hot-deal{
  margin-bottom: 0px;
}
.common-container p{
  width: 100%;
  margin-left: 0px;
}
.delivery .each-delivery{
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
}
#delivery-section{
  margin-bottom: 0px;
}
 .delivery{
  height: 380px;
  align-items: normal;
 }
 .deal{
  flex-direction: column-reverse;
  padding: 20px;
 }
 .deal div{
  width: 100%;
 }
 .deal-detail p{
  width: 100%;
}
.deal-img{
  margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#insta{
  margin-bottom: 80px;
}
.insta-img-container{
  flex-direction: column;
}
.common-header{
  margin-top: 60px;
}
.newsletter-main {
  margin-bottom: 40px;
  background-size: 90vh;
  padding: 10px;
  display: flex;
}
.newsletter-main div{
  width: 50%;
}
form{
  max-width: 90%;
  height: 20%;
  flex-direction: column;
}
form input{
  margin-top: 40px;
  padding: 5px;
  font-size: 15px;
}
.newsletter-main .common-container h1{
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
} 

.foot-collector{
  padding: 50px;
}
.footer-container p{
  margin-left: 0px;
  width: 100%;
  font-size: 14px;
}
#footer .container{
  width: 70%;
}
.small-footer{
  font-size: 10px;
}
.footer-header{
  font-size: 36px;
}
}

@media screen and (min-width:576px) and (max-width:992px){
  .container{
    width: 80%;
  }
  .deal-img{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .deal div{
    width: 50%;
  }
  .deal-detail p{
    width: 100%;
  }
  #hot-deal{
    margin-bottom: 0px;
  }
  .banner-img img {
    margin-top: 10px;
    width: 80%;
  }
  .banner-container {
    flex-direction: column-reverse;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  .banner-text {
    margin-top: 20px;
  }
  .banner-container .banner-text h1 {
    font-size: xx-large;
  }
  .flower-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .common-container p{
    margin-left: 0px;
  }
  .ful{
    height: 100%;
  }
  .delivery .each-delivery{
    display: flex;
    gap: 50px;
    width: 90%;
  }
  .delivery .each-delivery img{
    width: 30%;
  }
   .delivery{
    padding: 5px;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    align-items: center;
   }

   #free-support{
    margin-right: 30px;
   }
   .insta-img-container{
    display: grid;
    grid-template-columns: repeat(2,2fr);
   }
   .common-header{
    margin-top: 60px;
  }
  .newsletter-main{
    background-size: 90vh;
  }

  .newsletter-main .common-container p{
    margin: 0 auto 12px;
  }
  .foot-collector{
    padding: 50px;
  }
  .footer-container p{
    margin-left: 0px;
    width: 100%;
    font-size: 14px;
  }
  #footer .container{
    width: 70%;
  }
  .small-footer{
    font-size: 10px;
  }
  .footer-header{
    font-size: 36px;
  }

}

